@use "../../assets/styles/Variables.scss" as *;

.header-card {
  flex-direction: column;

  .weather-container {
    border-radius: $border-radius $border-radius 0 0;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
  }
}

@media screen and (min-width: $large-width) {
  .header-card.header-card {
    flex-direction: row;

    .weather-container {
      flex-basis: 25%;
      border-radius: $border-radius 0 0 $border-radius;
      min-width: 256px;
      height: unset;
    }
  }
}
