@use "../../assets/styles/Variables.scss" as *;

.upload-button:not(:hover) {
  // override .btn's var(--bs-btn-bg) to have a solid background instead of transparent
  background-color: var(--bs-body-bg);
}

.upload-instruction {
  border-radius: $border-radius;
  background-color: var(--bs-body-bg);
  padding: 0 0.5rem;
}
