@import '@assets/styles/theme-variables.module';

.settingsTab {
  border: none;
  border-radius: 4px;
  background: inherit;
}

.selectedSettingsTab {
  border-left: 6px solid map-get($theme-colors, primary);
  // TODO(NicolasDontigny): Export as variable in theme-variables
  background: #E8F3E9;
}
