@use '../../assets/styles/Variables.scss' as *;

.settingsTab {
  border: none;
  border-radius: 4px;
  background: inherit;
}

.selectedSettingsTab {
  border-left: 6px solid $primary;
  background: $lightgreen;
}
