# You can run this locally with `pre-commit run [--all]`
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
  # You can run this locally with `ruff check --fix || ruff format`
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5 # must match canopeum_backend/requirements-dev.txt
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  # You can run this locally with `npm run lint:fix`
  # NOTE: exceeds tier max size 250MiB: 289.9MiB
  # - repo: https://github.com/pre-commit/mirrors-eslint
  #   rev: v8.56.0
  #   hooks:
  #     - id: eslint
  #       files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
  #       types: [file]
  #       additional_dependencies: [
  #           # Keep these in sync with canopeum_backend/package.json
  #           "eslint-config-beslogic@1.6.5",
  #           "eslint-plugin-jsx-a11y@6.8.0",
  #           "eslint-plugin-react@7.34.1",
  #           "eslint-plugin-react-hooks@4.6.0",
  #           "eslint-plugin-react-prefer-function-component@3.3.0",
  #           "eslint-plugin-react-redux@4.1.0",
  #           "eslint-plugin-react-refresh@0.4.5",
  #           "eslint-plugin-total-functions@7.1.0",
  #         ]

ci:
  autoupdate_schedule: quarterly
