@import '@assets/styles/theme-variables.scss';


.card {
  border-width: $card-border-width;
  border-radius: $card-border-width;
  border-color: $card-border-color;
  background-color: $card-bg;
}

.card-title {
  font-family: $font-family-sans-serif;
  font-size: $h2-font-size;
}

.card-text {
  font-family: $font-family-monospace;
}
