@import '@assets/styles/theme-variables.scss';

.card {
  padding: 20px;
  background-color: $white;
}

.card-title {
  font-family: $font-family-sans-serif;
  font-size: $h2-font-size;
}

.card-text {
  font-family: $font-family-monospace;
  color: $grey-police;
}


.material-symbols-outlined {
  color: $grey-police;
  padding-right: 16px;
  font-size: 21px;
}

.edit-btn {
  color: #007E51;
}
