@import 'theme-variables.scss';
// Override default variables before the import
$bg-primary: $primary;
$bg-secondary: $secondary;

.navbar-nav .nav-item .nav-link {
    color: $secondary-2;
}

.nav-item {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    &:hover {
        border-bottom-color: $secondary-2;
    }
}

@import 'bootstrap/scss/bootstrap.scss';

// Override Bootstrap variables
$primary: $primary;
$secondary: $secondary;

// Override Bootstrap styles
.btn-secondary {
    color: white;
    &:hover {
        color: white;
    }
  }

.btn-outline-secondary {
    &:hover {
        color: white;
    }
  }

