@use 'Variables.scss' as *;

.rs-dropdown-item-submenu:hover > .rs-dropdown-item-toggle,
.rs-dropdown-item.rs-dropdown-item-focus,
.rs-dropdown-item:focus-visible {
  background-color: $lightgreen;
  color: inherit;
}

.rs-dropdown-item.rs-dropdown-item-focus {
  background-color: $lightgreen;
}
