@use 'Variables.scss' as *;

// Re-export variables to be accessible from .ts
// This is useful to mix frameworks like applying bootstrap-defined style to MUI
:export {
  primary: $primary;
  secondary: $secondary;
  success: $success;
  primaryFaded: $lightgreen;
  // Would prefer using $card-bg from bootstrap,
  // but that causes it to load first before App.scss somehow
  cardBackground: $white;
  mediumWidth: $medium-width;
  borderRadius: $border-radius;
}
