@use '../../App.scss' as *;

// Re-export variables to be accessible from .ts
// This is useful to mix frameworks like applying bootstrap-defined style to MUI
:export {
  primary: $primary;
  secondary: $secondary;
  success: $success;
}
