@use '../../../node_modules/bootstrap/scss/bootstrap.scss' as *;

.form-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-group {
  display: flex;
  flex-direction: column;
  color: $gray-900;
}

.form-group label {
  margin-bottom: 0;
  font-weight: $headings-font-weight;
  color: $gray-900;
}
