@use 'Variables.scss' as *;

// TODO (Sam. T): Move this file to a GlobalStyles/_index.scss and imported files into same folder
@use 'Buttons.scss';
@use 'Card.scss';
@use 'DropdownMenu.scss';
@use 'Icons.scss';
@use 'Nav.scss';
@use 'Transitions.scss';
@use 'Form.scss';

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $gray-600; // map-get($colors, gray)
  border-radius: 5px;
}

body {
  background-image: url('@assets/images/TreeBackground.png');
}

// Causes teh inner elements of an anchor to be underlined instead of the anchor itself
// Useful to get partial underline by adding text-decoration-none to an inner-element
.link-inner-underline {
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    * {
      text-decoration: underline;
    }
  }
}

// Named after https://getbootstrap.com/docs/5.2/utilities/text/#font-size
.fs-small {
  font-size: 0.875rem;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lightgreen-color {
  color: $lightgreen;
}

.bg-lightgreen {
  background: $lightgreen;
}

.page-container {
  padding: 1rem 1rem;
  max-width: 90em;
  margin: 0 auto;
}

@media screen and (min-width: $medium-width) {
  .page-container {
    padding: 1rem 2rem;
  }
}

@media screen and (min-width: $large-width) {
  .page-container {
    padding: 1rem 4rem;
  }
}

@media screen and (min-width: $xlarge-width) {
  .page-container {
    padding: 1rem 6rem;
  }
}

.maplibregl-marker {
  cursor: pointer;
}

label[aria-required='true']::after,
label[aria-required='']::after {
  content: ' *';
}
