// TODO (Sam. T): Move this file to a GlobalStyles/_index.scss and imported files into same folder

// Import here all global style modules from this same folder
// TODO (Sam. T): Try to migrate away from @import
// https://sass-lang.com/blog/import-is-deprecated/
@import "./Buttons.scss";
@import "./Card.scss";
@import "./DropdownMenu.scss";
@import "./Icons.scss";
@import "./Nav.scss";
@import "./Transitions.scss";

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: map-get($colors, dark-gray);
  border-radius: 5px;
}

body {
  background-image: url('@assets/images/TreeBackground.png');
}

.text-small {
  font-size: 90%;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lightgreen-color {
  color: $lightgreen;
}

.bg-lightgreen {
  background: $lightgreen;
}

.page-container {
  padding: 1rem 1rem;
  max-width: 90em;
  margin: 0 auto;
}

@media screen and (min-width: $medium-width) {
  .page-container {
    padding: 1rem 2rem;
  }
}

@media screen and (min-width: $large-width) {
  .page-container {
    padding: 1rem 4rem;
  }
}

@media screen and (min-width: $xlarge-width) {
  .page-container {
    padding: 1rem 6rem;
  }
}
