.material-symbols-outlined,
.custom-icon {
  color: inherit;
  font-size: 1.5rem;

  &.custom-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  &.icon-2xs {
    font-size: 1.75rem;

    &.custom-icon {
      width: 1.75rem;
      height: 1.75rem;
    }
  }

  &.icon-xs {
    font-size: 1rem;

    &.custom-icon {
      width: 1rem;
      height: 1rem;
    }
  }

  &.icon-sm {
    font-size: 1.25rem;

    &.custom-icon {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &.icon-lg {
    font-size: 1.75rem;

    &.custom-icon {
      width: 1.75rem;
      height: 1.75rem;
    }
  }

  &.icon-xl {
    font-size: 2rem;

    &.custom-icon {
      width: 2rem;
      height: 2rem;
    }
  }

  &.icon-2xl {
    font-size: 2.25rem;

    &.custom-icon {
      width: 2.25rem;
      height: 2.25rem;
    }
  }

  &.icon-3xl {
    font-size: 2.5rem;

    &.custom-icon {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  &.icon-4xl {
    font-size: 2.75rem;

    &.custom-icon {
      width: 2.75rem;
      height: 2.75rem;
    }
  }

  &.icon-5xl {
    font-size: 3rem;

    &.custom-icon {
      width: 3rem;
      height: 3rem;
    }
  }

  &.icon-6xl {
    font-size: 3.25rem;

    &.custom-icon {
      width: 3.25rem;
      height: 3.25rem;
    }
  }

  &.fill-icon {
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;
  }
}
