@use "../../../node_modules/bootstrap/scss/bootstrap.scss" as *;

.nav-underline {
  .nav-link {
    // By default bootstrap gives those 0 padding, restore the .nav-link padding
    padding-right: var(--bs-nav-link-padding-x);
    padding-left: var(--bs-nav-link-padding-x);
    // underline on hover just looks weird if there's already an underline from nav
    text-decoration: none;
  }
}

.navbar {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 0;

  .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 250, 245, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .nav-item.active .material-symbols-outlined {
    font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 48;
  }

  .nav-link {
    display: flex;
    text-align: center;
  }

  a.nav-link:active,
  a.nav-link:focus,
  a.nav-link:hover {
    text-decoration: none;
  }

  .nav-item {
    padding-left: 0.75rem;

    button {
      padding: 0;
      min-width: unset;
    }
  }

  .navbar-brand,
  .nav-item:not(.nav-link) {
    // Compensate all other items for the underlined nav-links appearing higher
    margin-bottom: var(--bs-nav-underline-border-width);
  }

  .nav-link-label {
    display: none;
  }

  .navbar-nav {
    align-items: center;
  }

  .navbar-collapse.collapse.show,
  .navbar-collapse.collapsing {
    display: flex;
    flex-direction: column;
    align-items: start;

    .navbar-nav {
      align-items: flex-start;
    }

    .nav-item {
      padding-left: 0.75rem;
    }

    .nav-link-label {
      display: block;
      margin-left: 0.5rem;
    }
  }
}

/*
Override .nav in node_modules/bootstrap/scss/_navbar.scss
with colors of .navbar-dark in  node_modules/bootstrap/scss/_navbar.scss
to support non-navbar nav
*/
.nav-dark.nav-dark,
.nav.nav[data-bs-theme="dark"] {
  // scss-docs-start nav-dark-css-vars
  --#{$prefix}nav-link-color: #{$navbar-dark-color};
  --#{$prefix}nav-link-hover-color: #{$navbar-dark-hover-color};
  --#{$prefix}nav-link-disabled-color: #{$navbar-dark-disabled-color};
  --#{$prefix}nav-underline-link-active-color: #{$navbar-dark-active-color};
  // scss-docs-end nav-dark-css-vars
}
