$primary-0: #2c4e3c;
$primary: #007e51;
$primary-1: #47a86e;
$primary-2: #e8f3e9;

$secondary-0: #433a2e;
$secondary: #f18200;
$secondary-1: #fabb71;
$secondary-2: #fffaf5;

$grey-0: #333333;
$grey-1: #818181;
$grey-2: #c4c4c4;
$grey-3: #ffffff;

$text-font-headings: 'Lato', sans-serif;
$text-font-bodies: 'Helvetica Neue', sans-serif;

$font-size-1: 1.2rem;
$font-size-2: 1.4rem;
$font-size-3: 1.6rem;
$font-size-4: 1.8rem;
$font-size-5: 2.0rem;
$font-size-6: 2.2rem;
$font-size-7: 2.4rem;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-height-1: 1.2;
$font-height-2: 1.4;
$font-height-3: 1.6;
$font-height-4: 1.8;
$font-height-5: 2.0;
$font-height-6: 2.2;
$font-height-7: 2.4;
