/*
* Bootstrap variables
*/

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Lato', Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-family-monospace: 'Helvetica Neue', Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$font-family-base: $font-family-sans-serif;
$headings-font-family: Lato;
$headings-font-weight: 700;

$border-radius: 0.5rem;
$link-decoration: none;

$primary: #007E51;
$secondary: #F18200;
$success: #06C270;


$white: #FFFAF5;
/* TODO: We should reference palette, not direct colors
https://github.com/BesLogic/releaf-canopeum/issues/249 */
$cream: #FFFAF5;

/*
* Custom variables
*/

// TODO (Sam T.): We should try to configure and properly use Bootstrap breakpoints instead
$small-width: 540px;
$medium-width: 720px;
$large-width: 960px;
$xlarge-width: 1200px;
$xxlarge-width: 1600px;

// TODO (Sam T.): We should configure bootstrap so that
// our primary-derived color this represents uses the right shade of green.
// Then use the generated bootstrap scss variable instead of $lightgreen
$lightgreen: #E8F3E9;
