-r requirements.txt
pre-commit==3.6.2
ruff==0.4.4 # must match .pre-commit-config.yaml
mypy==1.10.0
pyright==1.1.363
django-stubs[compatible-mypy]>=5.0.0
djangorestframework-stubs[compatible-mypy]>=3.14.0
# Not necessarily used directly, just taken from requirements.txt
# that are also found in https://github.com/python/typeshed/tree/main/stubs
types-colorama>=0.4.6
types-docutils>=0.20.0
types-jsonschema>=4.21.0
types-pytz>=2024.1
types-regex>=2023.12.25
types-requests>=2.31.0
types-setuptools>=69.2.0
types-six>=1.16.0
types-tqdm>=4.66.0
