alabaster==0.7.16
annotated-types==0.6.0
anyio==4.3.0
asgiref==3.7.2
asttokens==2.4.1
attrs==23.2.0
Babel==2.14.0
certifi==2024.7.4
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.2
cssbeautifier==1.15.1
debugpy==1.8.1
decorator==5.1.1
distlib==0.3.8
dj-database-url==2.2.0
Django==5.0.7
django-cors-headers==4.3.1
djangorestframework==3.15.2
djangorestframework-camel-case==1.4.2
djangorestframework-simplejwt==5.3.1
djlint==1.34.1
dnspython==2.6.1
docutils==0.20.1
drf-orjson-renderer==1.7.2
drf-spectacular==0.27.2
drf-spectacular-sidecar==2024.3.4
EditorConfig==0.12.4
executing==2.0.1
filelock==3.13.1
googlemaps==4.10.0
h11==0.14.0
html-tag-names==0.1.2
html-void-elements==0.1.0
httptools==0.6.1
identify==2.5.35
idna==3.7
imagesize==1.4.1
inflection==0.5.1
ipykernel==6.29.4
ipython==8.24.0
jedi==0.19.1
Jinja2==3.1.4
jsbeautifier==1.15.1
json5==0.9.22
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client==8.6.1
jupyter_core==5.7.2
markdown-it-py==3.0.0
MarkupSafe==2.0.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mysqlclient==2.2.4
nest-asyncio==1.6.0
nodeenv==1.8.0
orjson==3.9.15
packaging==23.2
parsimonious==0.10.0
parso==0.8.4
passlib==1.7.4
pathspec==0.12.1
platformdirs==4.2.0
prompt-toolkit==3.0.43
psutil==5.9.8
pure-eval==0.2.2
pyasn1==0.6.0
pycparser==2.22
pydantic_core==2.18.4
Pygments==2.17.2
pyjson5==1.6.6
PyJWT==2.8.0
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
PyYAML==6.0.1
pyzmq==26.0.3
referencing==0.34.0
regex==2023.12.25
requests==2.32.2
rpds-py==0.18.0
rsa==4.9
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
snowballstemmer==2.2.0
Sphinx==7.2.5
sphinx-js==3.2.2
sphinx-multiproject==1.0.0rc1
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
sqlparse==0.5.0
stack-data==0.6.3
tornado==6.4.1
tqdm==4.66.3
traitlets==5.14.3
tzdata==2024.1
ujson==5.9.0
uritemplate==4.1.1
urllib3==2.2.2
watchfiles==0.21.0
wcwidth==0.2.13
websockets==12.0
