// Load variables before Bootsrap so it generates the right theme colors
@forward './assets/styles/Variables.scss';
@use './assets/styles/Variables.scss' as *;

@use '../node_modules/bootstrap/scss/bootstrap' with (
  $font-family-sans-serif: $font-family-sans-serif,
  $font-family-monospace: $font-family-monospace,
  $font-family-base: $font-family-base,
  $headings-font-family: $headings-font-family,
  $headings-font-weight: $headings-font-weight,
  $border-radius: $border-radius,
  $link-decoration: $link-decoration,
  $navbar-brand-margin-end: $navbar-brand-margin-end,
  $nav-underline-border-width: $nav-underline-border-width,
  $navbar-nav-link-padding-x: $navbar-nav-link-padding-x,
  $nav-link-padding-y: $nav-link-padding-y,
  $primary: $primary,
  $secondary: $secondary,
  $success: $success,
  $info: $info,
  $warning: $warning,
  $danger: $danger,
  $white: $white,
  $gray-100: $gray-100,
  $gray-300: $gray-300,
  $gray-600: $gray-600,
  $gray-800: $gray-800,
  $gray-900: $gray-900,
  $grid-breakpoints: $grid-breakpoints
);

// insert our theme's global styles after so we can use its variables
@use './assets/styles/GlobalStyles.scss';
