@use '../assets/styles/Variables.scss' as *;

.map-site-image {
  border-radius: $border-radius $border-radius 0 0;
  width: 100%;
}

#map-container {
  padding: 0;
}
#map-page-row-container {
  height: calc(100vh - 62px);
}
#map-container {
  height: calc(100vh - 62px);
}

@media screen and (max-width: $large-width) {
  #map-sites-list-container,
  #map-container {
    padding: 0 2rem;
  }
}

@media screen and (min-width: $large-width) {
  #map-sites-list-container {
    overflow-y: auto;
  }
  .map-site-image {
    border-radius: $border-radius 0 0 $border-radius;
    width: unset;
    object-fit: cover;
  }
}

@media screen and (max-width: $medium-width) {
  #map-page-row-container {
    position: relative;
  }
  #map-sites-list-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 0;
    background-color: transparent !important;
    padding: 1rem 0.5rem !important;
    height: 10rem !important;
    background-color: $white;
    border-radius: $border-radius;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    overflow: scroll;
    height: 20rem !important;
  }
  #map-container {
    width: 100%;
    height: calc(100vh - 62px);
    padding: 0 0;
  }
  .map-site-image {
    object-fit: cover;
    width: 100%;
    border-radius: $border-radius 0 0 $border-radius;
  }
}
