@use '../assets/styles/Variables.scss' as *;

.map-site-image {
  border-radius: $border-radius $border-radius 0 0;
  width: 100%;
}

#map-container {
  padding: 0;
}
#map-page-row-container {
  height: calc(100vh - 62px);
}
#map-container {
  height: calc(100vh - 62px);
}

@media screen and (max-width: $large-width) {
  #map-sites-list-container,
  #map-container {
    padding: 0 2rem;
  }
}

@media screen and (min-width: $large-width) {
  #map-sites-list-container {
    overflow-y: auto;
  }
  .map-site-image {
    border-radius: $border-radius 0 0 $border-radius;
    width: unset;
    object-fit: cover;
  }
}
