@use "../assets/styles/Variables.scss" as *;

.settings-left-nav-menu {
  margin-bottom: 2rem;
}

.settings-tab-content-container {
  padding-bottom: 2rem;
}

@media screen and (min-width: $medium-width) {
  .settings-left-nav-menu {
    margin-bottom: 0;
    height: 100%;
  }

  .settings-tab-content-container {
    padding-bottom: 0;
  }
}
