name: canopeum_frontend

on:
  push:
    paths:
      - "canopeum_frontend/**"
      - ".github/workflows/canopeum_frontend.yml"
  pull_request:
    branches:
      - main
    paths:
      - "canopeum_frontend/**"
      - ".github/workflows/canopeum_frontend.yml"

jobs:
  Lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: canopeum_frontend
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - run: npm ci
      - run: npm run lint
  Build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: canopeum_frontend
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - run: npm ci
      - run: npm run build
