name: canopeum_backend

on:
  push:
    paths:
      - "canopeum_backend/**"
      - ".github/workflows/canopeum_backend.yml"
  pull_request:
    branches:
      - main
    paths:
      - "canopeum_backend/**"
      - ".github/workflows/canopeum_backend.yml"

jobs:
  mypy:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: canopeum_backend
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "windows-latest"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: pip
          cache-dependency-path: "**/requirements*.txt"
      - run: pip install -r requirements-dev.txt
      - run: mypy . --python-version=3.12

  pyright:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: canopeum_backend
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "windows-latest"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: pip
          cache-dependency-path: "**/requirements*.txt"
      - run: pip install -r requirements-dev.txt
      - uses: jakebailey/pyright-action@v2
        with:
          python-version: "3.12"
